awscli
flake8
pathlib2
pip
python-dotenv
wheel
-e .
torch
source~=0.1.0
numpy~=1.21.4
opencv-python~=4.5.4.58
torchinfo~=1.5.3
h5py~=3.5.0
tifffile~=2021.11.2
nd2reader~=3.3.0
tensorboard==2.7.0
tensorboardx~=2.4
tqdm~=4.62.3
scikit-learn~=1.0.1
setuptools~=59.6.0
Pillow